#BookViewInput
{
    margin-top: 10px;
    margin-left: calc(50% - 250px);
    width: 500px;
    height: 40px;
    border-width: 1px;
    border-radius: 10px;

}

#BookViewInput:focus
{
    outline: none;
    border-color: #2196F3;
    border-width: 3px;
}

#Book
{
    margin-top: 20px;
}

#BookViewImage
{
    width: 30%;
    padding: 20px;
    float: left;
    background-color: red;
}

#BookInfo
{
    width: 70%;
    height: 100%;
    padding: 20px;
    float: left;
    background-color: blue;
}

#BookViewName
{
    margin: 20px;
    font-size: x-large;
}

#BookViewAuthor
{
    margin: 20px;
}

#BookViewPrice
{
    margin-top: 40px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: 800;
    color: #2196F3;
}

#ButtonsHolder
{
    width: 70%;
    background-color: green;
    float: left;
}

.BookViewButton
{
    margin: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #2196F3;
    color: white;
}

.BookViewButton:hover
{
    cursor: pointer;
}

.BookViewButton:active
{
    background-color: #218ee7;
}

#BookViewDiscribe
{
    float: left;
    margin: 100px;
    font-size: medium;
    color: #666;
}