.conference {
    font-style:oblique;
}

.abstract {
    color: #888;
}

.myself {
    font-weight: bolder;
}

.authors {
    color: #000;
}

.authors p {
    padding: 0px;
    margin: 0px;
}

.paper {
    color: #74beff
}

.paper p {
    padding: 0px;
    margin: 0px;
}

.paper a{
    color: #74beff;
    display: inline-block;
    text-decoration:none;
    padding: 0px;
}

.paper a:hover{
    background-color: #FFF;
    color: #74beff;
    cursor: pointer;
    transform: scale(1.03);
    border-radius: 3px;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.paper a:focus {
    background-color: #FFF;
    color: #74beff;
    cursor: pointer;
}
